/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.dark-mode input[type="text"] {
    color: white;
}

.light-mode input[type="text"] {
    color: black;
}

/* Globals  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Variables  */
:root {
    --color_Purple: #874CCC;
    --color_Dark1: #1e1e1e;
    --color_Dark2: #252527;
    --color_Light1: #dfdfdf;
    --color_Light2: #c4c4c4;
}

.dark-mode #dt-length-0 {
    background-color: var(--color_Dark2);
}

.dark-mode .box {
    background-color: #1e1e1e;
}

.dark-mode .box h3 {
    color: #ffffff;
}

.team {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.team-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.team-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.center h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.box {
    padding: 16px;
    background: #ccc;
    border-radius: 15px;
    transition: all .38s ease;
}

.box h3 {
    font-size: 23px;
    font-weight: 600;
    color: var(--color_Dark1);
    margin-bottom: 8px;
}

.dark-mode .box h5 {
    color: var(--color_Light1);
}

.box h5 {
    font-size: 15px;
    font-weight: 600;
    color: var(--color_Dark1);
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i:hover {
    transform: scale(1.2);
}

.box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-filter {
    display: flex;
    align-items: center;
}

.date-filter {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.date-filter label,
.date-filter input,
.date-filter button {
    margin-left: 10px;
}

#filterDateButton {
    width: 52px;
    height: 38px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#filterDateButton:hover,
#filterDateButton:focus {
    border-color: var(--color_Purple);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.dark-mode #filterDateButton {
    background-color: #333;
    color: #ffffff;
}

.dark-mode input {
    background-color: #333;
    color: #ffffff;
}

.chart-container {
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

#categoryFilter {
    height: 38px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 60px;
    display: block;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#categoryFilter:hover,
#categoryFilter:focus {
    border-color: var(--color_Purple);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

#monthFilter {
    border-radius: 5px;
    height: 38px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#monthFilter:hover,
#monthFilter:focus {
    border-color: var(--color_Purple);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

#machineSearch {
    height: 30px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#machineSearch::placeholder {
    right: 10px;
    color: #999999;
    opacity: 1;
}

.chart-container p {
    margin-bottom: 20px;
}

.card-name {
    font-size: 22px;
    font-weight: 600;
}

.card .icon-box i {
    font-size: 70px;
}

.card:hover {
    background: var(--color_Purple);
    color: #fff;
}

.card:hover .number,
.card:hover .card-name,
.card:hover .icon-box i,
.card:hover .revenue {
    color: #fff;
}

.card-content .number {
    font-size: 32px;
    font-weight: 700;
}

.revenue {
    font-size: 18px;
    font-weight: 500;
}

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    padding-top: 0;
    transition: width 0.5s ease;
}

.chart {
    margin-bottom: 80px;
    height: 525px;
    min-width: 500px;
    max-width: calc(110% - 20px);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.chart #averagePriceChart {
    height: 550px !important;
}

.activeMachine .chart {
    height: 100%;
}

.favoriteProduct .chart {
    height: 100%;
}

.product #categoryLocationChart {
    height: 470px !important;
}

.chart h2 {
    font-weight: 1000;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.team .chart-container {
    margin-top: 40px;
}

/* Light and Dark Mode Classes */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.light-mode .sidebar {
    background-color: #f0f0f0;
    color: #000000;
}

.dark-mode .sidebar {
    background-color: #252525;
    color: #ffffff;
}

.dark-mode .chart {
    background: #252527;
}

.dark-mode .chart p {
    color: #ffffff;
}

.dark-mode .chart #conclusion {
    background: #252525;
}

.dark-mode #categoryFilter,
#monthFilter {
    background-color: #333;
    color: #ffffff;
}

.dark-mode #machineSearch::placeholder {
    color: #f8f9fa;
}

.dark-mode .chart-container,
#machineSearch {
    background: #252525;
}

.dark-mode #monthFilter {
    background: #252527;
}

.dark-mode .sidebar.close .sidebar-list li:hover .submenu {
    background-color: var(--color_Dark2);
}

.light-mode #machineSearch,
#monthFilter {
    background: #ffffff;
}

.light-mode #monthFilter {
    color: #000000;
}

.light-mode .sidebar-list .submenu .link {
    color: #000000;
}

.light-mode .sidebar.close .submenu .link {
    color: #000000;
}

.light-mode .toggle-sidebar i,
.light-mode .header .text {
    color: #000000;
}

.dark-mode .toggle-sidebar i,
.dark-mode .header .text {
    color: #ffffff;
}

.light-mode .logo-box i,
.light-mode .logo-box,
.light-mode .sidebar-list .title i,
.light-mode .sidebar-list .title .name,
.light-mode .sidebar-list .link .home {
    color: #000000;
}

.dark-mode .logo-box i,
.dark-mode .logo-box,
.dark-mode .sidebar-list .title i,
.dark-mode .sidebar-list .title .name,
.dark-mode .sidebar-list .submenu .link {
    color: #ffffff;
}

.dark-mode .logo-box:hover i {
    color: #874CCC;
}

.light-mode .logo-box:hover i {
    color: #874CCC;
}

.theme-toggle {
    position: absolute;
    right: 10px;
    top: 3%;
    transform: translateY(-50%);
    background: var(--color_Light1);
    border-color: #1e1e1e;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle:hover {
    background-color: var(--color_Light2);
    color: #ffffff;
}

.dark-mode .theme-toggle i.bx.bx-sun {
    color: #ffffff;
}

.dark-mode .theme-toggle:hover i.bx.bx-sun {
    color: #000000;
}

.footer footer {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    position: static;
    bottom: 0;
}

.content-divider {
    border: none;
    border-top: 1px solid var(--color_Light2);
    margin: 0 auto;
    width: 100%;
}

.toggle-sidebar {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-sidebar i {
    font-size: 35px;
    margin-right: 15px;
}

.toggle-sidebar .text {
    font-size: 25px;
    font-weight: 600;
}

/* =============== Sidebar =============== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--color_Dark1);
    transition: all .5s ease;
    z-index: 100;
}

.sidebar.close {
    width: 78px;
}

.logo-box {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

.logo-box:hover {
    color: var(--color_Purple);
}

.logo-box i {
    font-size: 30px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    transition: all .5s ease;
}

.sidebar.close .logo-box i {
    transform: rotate(360deg);
}

.logo-name {
    font-size: 22px;
    font-weight: 600;
}

.sidebar-list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar-list::-webkit-scrollbar {
    display: none;
}

.sidebar-list li {
    transition: all .5s ease;
}

.sidebar-list li:hover {
    background-color: var(--color_Purple);
}

.sidebar-list li .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
}

.sidebar-list li.active {
    background-color: var(--color_Purple);
}

.sidebar-list li.active .title .link,
.sidebar-list li.active .title i,
.sidebar-list li.active .title .name {
    color: #ffffff;
}

.sidebar-list li.active .title {
    background-color: var(--color_Purple);
}

.sidebar-list li.active .bxs-chevron-down {
    transition: all .5s ease;
    transform: rotate(180deg);
}

.sidebar-list li .title .link {
    display: flex;
    align-items: center;
}

.sidebar-list li .title i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.sidebar-list li .title .name {
    font-size: 18px;
    font-weight: 400;
}

.sidebar-list li .submenu {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .0s ease;
}

.sidebar-list li.dropdown.active .submenu {
    width: unset;
    height: unset;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 6px 6px 14px 80px;
}

.submenu .link {
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}

.submenu-title {
    display: none;
}

.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down {
    display: none;
}

.sidebar.close .sidebar-list {
    overflow: visible;
}

.sidebar.close .sidebar-list li {
    position: relative;
}

.sidebar.close .sidebar-list li .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    height: max-content;
    width: max-content;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}

.sidebar.close .sidebar-list li:hover .submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    background-color: #f0f0f0;
}

.sidebar.close .submenu-title {
    display: block;
    font-style: 18px;
}

.home {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all .5s ease;
}

.sidebar.close~.home {
    left: 78px;
    width: calc(100% - 78px);
}

.home .toggle-sidebar {
    height: 60px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.home .toggle-sidebar i {
    font-size: 35px;
    margin-left: 15px;
}

.home .toggle-sidebar .text {
    font-size: 25px;
    font-weight: 600;
}

/* Card Container Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    border-radius: 10px;
    flex: 1;
    background-color: #ffffff;
    margin-left: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0s ease, color 0s ease;
}

.card .card-name {
    margin-top: 20px;
}

.dark-mode .card {
    background-color: var(--color_Dark2);
    color: #ffffff;
}

.dark-mode .card:hover {
    background-color: var(--color_Purple);
    color: #ffffff;
}

.icon-box {
    font-size: 30px;
}

.number {
    font-size: 24px;
    font-weight: 700;
}

.revenue {
    font-size: 18px;
    font-weight: 500;
}

/* ============ style recommendation ============ */
.dark-mode .rec-container {
    color: #ffffff;
}

.dark-mode .rec-header {
    background-color: var(--color_Dark2);
}

.dark-mode .rec-card-content {
    background-color: var(--color_Dark2);
}

.rec-container {
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
}

.rec-header {
    border-radius: 20px;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.rec-card-content {
    display: grid;
    grid-auto-flow: column;
    border-radius: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    font-size: 20px;
}

.rec-card-fill {
    max-width: calc(100% - 30%);
    margin-left: 5px;
}

.rec-card-fill2 {
    margin-left: 5px;
}

.rec-card h3 {
    color: #e23ff1;
    font-size: 25px;
}

.rec-card-revenue {
    text-align: justify;
}

.rec-card .rec-card-revenue .badge {
    background-color: #4CAF50;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.rec-card p {
    margin-top: 5px;
}

.product .date-filter label,
.date-filter input,
.date-filter button {
    margin-left: 10px;
}

.product .date-filter {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.product .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favoriteProduct #conclusion {
    margin-top: 120px;
}

.product h2 {
    font-size: x-large;
}

.product .chart p {
    font-size: medium;
    margin-top: -20px;
}

.product .chart article ul li {
    font-size: 20px;
    margin-bottom: 20px;
}

.product .chart article {
    text-align: justify;
    padding: 20px;
    margin-top: 30px;
}

.location #doughnut-chart {
    width: 50%;
}

.location h2 {
    font-size: x-large;
}

.location .chart p {
    font-size: medium;
    margin-top: -20px;
}

.location .chart article ul li {
    font-size: 20px;
    margin-bottom: 20px;
}

.location .chart article {
    text-align: justify;
    padding: 20px;
    margin-top: 30px;
}

.location #conclusion {
    position: relative;
    margin-top: 90px;
    height: 370px;
    margin-left: -40px;
}

.location .toggle-button {
    font-weight: 800;
    position: absolute;
    height: 35px;
    padding: 5px;
    right: 0;
    margin-right: 50px;
    background-color: #ff1ce8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.location .toggle-button:hover {
    background-color: #a82f9e;
}

.favoriteProduct .chart {
    height: 520px;
}

.favoriteProduct .chart h2 {
    font-size: x-large;
}

.favoriteProduct .chart p {
    margin-top: -20px;
}

.favoriteProduct .chart article {
    text-align: justify;
    padding: 20px;
    margin-top: 30px
}

.favoriteProduct .chart article ul li {
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 10px
}

.activeMachine .chart {
    height: 515px;
}

.activeMachine .chart #conclusion {
    margin-top: 80px;
}

.activeMachine #conclusion h2 {
    font-size: x-large;
}

.activeMachine .chart article {
    text-align: justify;
    padding: 20px;
    margin-top: 30px
}

.activeMachine .chart article ul li {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 1200px) {

    .charts {
        grid-template-columns: 1fr;
    }

    .chart {
        width: 100%;
        height: 720px;
    }

    .product .chart {
        height: 460px;
        margin-bottom: 40px;
    }

    .location .chart-container {
        height: 100%;
    }

    #productChart {
        height: 500px;
    }

    .chart #machineChart {
        height: 100px;
    }

    .main #activeMachine {
        margin-top: -100px;
    }

    .location #doughnut-chart {
        margin-left: 160px;
        margin-top: 6px;
        height: 400px;
    }

    .location #conclusion {
        margin-top: 0px;
        margin-left: 0px;
    }

    .activeMachine #conclusion {
        margin-top: 100px;
    }

    .activeMachine .chart-container {
        height: 100%
    }

    .favoriteProduct #favoriteProduct {
        height: 400px;
    }

    .favoriteProduct #conclusion {
        margin-top: 0px !important;
    }

    .card .icon-box i {
        font-size: 80px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .theme-toggle {
        margin-top: -10px;
    }

    #doughnut-chart {
        margin-left: 40px;
        width: 700px;
        margin-bottom: 120px;
        margin-top: 20px;
    }

    #topProduct {
        height: 500px;
    }

    .favoriteProduct .chart {
        height: 100%;
    }

    .favoriteProduct #conclusion {
        margin-top: -100px;
    }
}

@media (max-width: 820px) {
    .chart {
        padding: 15px;
        width: 620px;
        margin-left: -30px;
    }

    .product .chart {
        height: 420px;
        margin-left: -20px;
    }

    .center h1 {
        font-size: 3rem;
    }

    #doughnut-chart {
        width: 120px;
        margin-top: 10px
    }

    #averagePrice {
        margin-top: 200px;
    }

    #activeMachine {
        height: 500px;
    }

    .location #doughnut-chart {
        margin-left: 180px;
        margin-top: 10px;
    }

    .location #conclusion {
        margin-left: 170px;
    }

    .activeMachine .chart {
        margin-left: 0px;
        width: 100%;
    }

    .activeMachine #conclusion {
        margin-top: 50px;
    }

    .favoriteProduct #conclusion {
        margin-top: 10px;
        margin-left: -13px;
    }

    #topProduct {
        margin-top: -250px;
        margin-bottom: -140px;
    }

    .content-divider {
        width: 100%;
    }

    .theme-toggle {
        margin-right: 80px;
        margin-top: -10px;
    }

    .date-filter {
        margin-right: 200px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .theme-toggle {
        margin-right: 4px;
        margin-top: -6px;
    }

    .filter-container {
        display: flex;
        margin-left: -40px;
    }

    .location .theme-toggle {
        margin-right: 10px;
    }

    .location .charts {
        margin-left: -120px;
    }

    .location .chart {
        width: 20px;
    }
}

@media (max-width: 768px) {
    .chart {
        padding: 15px;
    }

    .center h1 {
        font-size: 3rem;
    }

    .content-divider {
        width: 100%;
    }

    .theme-toggle {
        margin-right: 80px;
        margin-top: -10px;
    }

    .date-filter {
        margin-right: 200px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .theme-toggle {
        margin-right: 8px;
        margin-top: -2px;
    }

    #topProduct {
        height: 450px !important;
    }

    #activeMachine {
        height: 500px;
    }

    .filter-container {
        display: flex;
        margin-left: -40px;
    }

    .product #productChart {
        margin-left: -40px;
    }

    .product #conclusion {
        height: 90%;
        width: 100%;
    }

    .location .theme-toggle {
        margin-right: 10px;
    }

    .location .charts {
        margin-left: -120px;
    }

    .location .chart {
        width: 10px;
    }

    .location #doughnut-chart {
        margin-top: 0px;
        margin-left: 150px;
    }

    .location #conclusion {
        margin-left: 150px;
    }

    .favoriteProduct #conclusion {
        width: 450px;
        margin-left: 25px;
    }

    .table .theme-toggle {
        margin-right: 210px;
        margin-top: -10px;
    }

    #topProduct {
        height: 100px;
    }
}

@media (max-width: 430px) {
    .sidebar {
        display: none;
    }

    .sidebar.close {
        display: block;
    }

    .home {
        left: 0;
        width: 100%;
    }

    .toggle-sidebar {
        position: relative;
        top: 0px;
        left: 5px;
    }

    .content-divider {
        width: 100%;
    }

    header .text {
        font-size: small;
    }

    .card {
        margin-right: 15px;
        height: 80px;
        width: 375px;
        margin-left: 10px;
    }

    .team-content {
        margin-left: -6px;
    }

    .filter-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    #categoryFilter {
        width: 115px;
        height: 32px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 40px;
        margin-top: -3px;
        display: block;
        background-color: #fff;
        color: #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    #categoryFilter:hover,
    #categoryFilter:focus {
        border-color: var(--color_Purple);
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    }

    .date-filter {
        margin-top: 120px;
        position: absolute;
        margin-bottom: 10px;
        width: 100%;
    }

    .date-filter label {
        font-size: 10px;
    }

    .date-filter {
        margin-left: 60px;
    }

    #startDate {
        width: 46px;
        margin-top: 0px;
        height: 30px;
    }

    #endDate {
        width: 46px;
        margin-top: 0px;
        height: 30px;
    }

    #filterDateButton {
        margin-top: -3px;
        margin-left: 10px;
        height: 32px;
        display: block;
        padding: 2px;
    }

    .card .card-name {
        font-size: 18px;
    }

    .card .number {
        font-size: 18px;
        margin-bottom: -10px;
    }

    .card .icon-box i {
        font-size: 42px;
    }

    .chart-container h1 {
        font-size: 16px;
    }

    .chart-container p {
        font-size: 12px;
    }

    .chart-container {
        width: 380px;
    }

    .rec-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .rec-card-fill {
        font-size: 12px;
    }

    .revenue-details {
        margin-top: 15px;
        font-size: 9px;
        margin-left: 15px;
    }

    .revenue-details h3 {
        font-size: 18px;
    }


    .rec-card-fill h3 {
        font-size: 14px;
    }

    .rec-card-fill2 {
        font-size: 12px;
    }

    .rec-card-fill2 h3 {
        font-size: 14px;
    }

    .main .chart-container {
        height: 2510px;
    }

    .main .chart canvas {
        width: 100%;
        height: 320px !important;
    }

    body.main.dark-mode #doughnut-chart {
        background-color: transparent;
    }

    body.main.dark-mode #averagePrice {
        background-color: transparent;
    }

    body.main.dark-mode #activeMachine {
        background-color: transparent;
    }

    .main {
        width: 430px;
        overflow-x: hidden !important;
    }

    .theme-toggle {
        margin-top: 0px;
        margin-right: 0px !important;
    }

    .main .chart-container {
        height: 2400px;
    }

    .main #productChart h2 {
        width: 230px;
        font-size: 16px;
        margin-top: 70px;
        margin-left: 50px;
    }

    .main #productChart {
        margin-left: -10px;
    }

    .main #doughnut-chart h2 {
        width: 200px;
        font-size: 16px;
        margin-left: 45px;
        margin-top: -40px;
    }

    .main #doughnut-chart {
        margin-left: 10px;
    }

    .main #topProduct h2 {
        width: 200px;
        font-size: 16px;
        margin-top: -220px !important;
        margin-left: 60px;
    }

    .main #topProduct {
        width: 100%;
        height: 400px;
    }

    .main #averagePrice h2 {
        width: 200px;
        font-size: 16px;
        margin-top: -330px;
        margin-left: 60px;
    }

    .main #averagePrice {
        height: 180px;
        margin-left: -15px;
    }

    .main #averagePriceChart {
        width: 300px !important;
        height: 400px !important;
    }

    .main #activeMachine h2 {
        font-size: 16px;
        width: 240px;
        margin-top: 190px;
        margin-left: 50px;
    }

    .main #monthFilter {
        width: 20px;
        height: 20px;
    }

    .main #activeMachine input {
        width: 100px !important;
        height: 25px;
        margin-left: 10px;
    }

    #activeMachine label {
        font-size: 12px;
    }

    #machineSearch {
        margin-left: -63px;
        height: 18px;
        font-size: 12px;
    }

    #activeMachine {
        height: 500px;
        margin-top: -250px !important;
        margin-left: -15px;
    }

    .chart h2 {
        font-size: 10px;
    }

    .chart {
        width: 100%;
        min-width: 300px;
        max-width: 100%;
        margin: 0 auto;
        padding: 1px;
    }

    .product #productChart {
        margin-left: 0px;
    }

    .product #categoryLocationChart {
        margin-left: 0px;
        max-height: 300px !important;
    }

    .product .chart {
        margin-top: 45px;
        height: 320px !important;
        margin-left: 20px;
    }

    .product .chart h2 {
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
    }

    .product .filter-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .product .date-filter {
        margin-top: 120px;
        position: absolute;
        margin-bottom: 10px;
    }

    .product .date-filter label {
        font-size: 10px;
    }

    .product .date-filter {
        margin-left: 60px;
    }

    .product .toggle-button {
        margin-right: 280px;
        margin-top: 520px;
        height: 25px;
        width: 85px;
        font-size: small;
        display: block;
        padding: 2px;
    }

    .product #conclusion {
        margin-left: -5px;
        margin-top: 30px;
        height: 100%;
        width: 100%;
    }

    .product .chart h2 {
        font-size: 16px;
    }

    .product .chart p {
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: -30px;
    }

    .product .chart article ul li {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .product .chart article {
        text-align: justify;
        padding: 20px;
    }

    body.location.dark-mode #doughnut-chart {
        background-color: transparent;
    }

    .location #doughnut-chart {
        width: 550px;
        margin-left: -60px !important;
        height: 300px;
    }

    .location #locationPieChart {
        margin-top: 10px;
        margin-left: 180px;
    }

    .location .chart {
        width: 100px;
        margin-left: 10px !important;
    }

    .location .toggle-button {
        margin-right: 280px;
        margin-top: 515px;
        height: 25px;
        width: 85px;
        font-size: small;
        display: block;
        padding: 2px;
    }

    .location .chart h2 {
        margin-top: 10px !important;
        font-size: 14px;
        margin-left: 230px !important;
        width: 200px;
    }

    .location .chart #title {
        margin-top: 10px !important;
        margin-left: 50px !important;
    }

    .location #conclusion {
        margin-top: 20px !important;
        margin-left: 120px !important;
        height: 230px;
    }

    .location .chart p {
        font-size: 12px;
        margin-bottom: -30px;
    }

    .location .chart article ul li {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .location .chart article {
        text-align: justify;
        padding: 20px;
    }

    .location #categoryFilter {
        margin-top: 10px;
        margin-left: 10px;
    }

    .favoriteProduct .toggle-button {
        margin-right: 280px;
        margin-top: 520px;
        height: 25px;
        width: 85px;
        font-size: small;
        display: block;
        padding: 2px;
    }

    .favoriteProduct .chart-container {
        height: 100%;
    }

    .favoriteProduct #conclusion {
        margin-left: 0px;
        margin-top: 20px !important;
        max-width: 180px !important;
    }

    .favoriteProduct .sort-filter {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 280px !important;
        height: 10px;
    }

    .favoriteProduct .sort-filter label {
        font-size: 12px;
        width: 100px;
    }

    .favoriteProduct #categoryFilter {
        margin-left: 60px;
    }

    .favoriteProduct .chart h2 {
        margin-top: 10px;
        font-size: 16px;
        width: 300px;
    }

    .favoriteProduct .chart p {
        font-size: 12px;
        margin-bottom: -30px;
    }

    .favoriteProduct .chart article ul li {
        font-size: 16px;
        margin-top: 0px;
    }

    .favoriteProduct .chart article {
        text-align: justify;
        padding: 20px;
    }

    .favoriteProduct #favoriteProduct {
        height: 350px !important;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .favoriteProduct #conclusion {
        margin-top: 65px;
    }

    .activeMachine .charts {
        height: 100%;
    }

    body.activeMachine.dark-mode .chart {
        background-color: transparent;
    }

    .activeMachine .chart {
        height: 430px !important;
    }

    .activeMachine .toggle-button {
        margin-right: 280px;
        margin-top: 490px;
        height: 25px;
        width: 85px;
        font-size: small;
        display: block;
        padding: 2px;
    }

    .activeMachine .chart h2 {
        margin-left: 10px;
        margin-top: -10px;
        font-size: 16px;
        width: 300px;
    }

    .activeMachine #machineSearchForm button {
        height: 18px;
        font-size: 6px;
    }

    .activeMachine #machineSearchForm input {
        height: 16px;
        font-size: 8px;
    }

    .activeMachine #machineSearchForm {
        margin-top: -5px;
        height: 16px;
        font-size: 8px;
        margin-left: 70px;
    }

    .activeMachine #machineChart {
        margin-left: -15px;
    }

    .activeMachine #machineMonthChart {
        height: 320px !important;
    }

    .activeMachine #conclusion {
        margin-top: 20px;
        height: 330px !important;
    }

    .activeMachine .chart #title {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 1px;
    }

    .activeMachine .chart p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .activeMachine .chart article ul li {
        margin-top: -30px;
        font-size: 12px;
        margin-bottom: 40px;
    }

    .activeMachine .chart article {
        text-align: justify;
        padding: 20px;
    }
}

@media (max-width: 375px) {
    .main .home {
        height: 100%;
    }
}
